# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environment
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Type checkers
.mypy_cache/
.pyright/
.ruff_cache/

# OS files
.DS_Store
Thumbs.db
